# OS
.DS_Store

# STM32CubeIDE / Eclipse
.metadata/
.settings/
*.project
*.cproject
*.mxproject
*.launch
*.log

# Build outputs
Debug/
Release/
build/
cmake-build-*/
cmsis_core/
cmsis_g0/

*.map
*.su
*.hex
*.elf
*.bin
*.o

# Eclipse indexes
*.pdom
*.index

# CubeMX backup / temp
*.bak

# IDE cache/history
.history/
__Previews/
History/

# PCB logs
Project Logs for pcb/