# OS
.DS_Store

# STM32CubeIDE / Eclipse
.metadata/
.settings/
*.project
*.cproject
*.mxproject
*.launch
*.log

# Build outputs
Debug/
Release/
build/
cmake-build-*/

*.elf
*.map
*.o
*.su
*.hex
*.bin

# Eclipse indexes
*.pdom
*.index

# CubeMX backup / temp
*.bak

# IDE cache/history
.history/
__Previews/
History/
